* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: default;
}

body {
  background-image: linear-gradient(152deg, #fff, #ABCDFF, #FFA6FF);
  height: 100vh;
}

img {
  width: 200px;
}

#prompt {
  margin: 30px;
  width: 80%;
  font-size: 20px;
  outline: none;
}

.main-component {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0.7;  */

  max-width: 500px;
  padding: 20px 50px 20px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  /* animation: fade-in ease 2s */
}

#open-ai {
  opacity: 0.6;
  width: 50px;
  position: fixed;
  bottom: 5%;
  left: 50%;
}


#workout-div {
  position: absolute; 
  top: 50%;
  opacity: 0.8;
}

#exercise-search-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0.7;  */

  max-width: 500px;
  padding: 30px 50px 20px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  animation: 2s ease fade-in

}

.workout {
  background: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.workout:hover{
  opacity: 0.7;
}

.workout-image {
  width: 30%;
}

.workout-text {
  width: 50%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  position: absolute;
  bottom: 5%;
  background-image: linear-gradient(90deg, #4fb, #4fe);
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px #4fb;
  backdrop-filter: blur(15px);
  margin-top: 10px;
}

input {
  width: 100%;
  border: none;
  outline-style: none;
  background: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

button:hover {
  box-shadow: 0 0 40px 1px #4fb;
}

button:active {
  transform: scale(0.95);
  filter: brightness(1.4);
}





